<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<h4><%=t('New Equipment Maintanence Request')%> </h4>
<%= simple_form_for(@maint_request) do |f| %>    
  
  <%= f.input :equipment_id, :as => :hidden, :input_html => {:value => @equipment.id} %>
  <%= f.input :equipment_name, :label => t('Equipment Name'), :readonly => true, :input_html => {:value => @equipment.try(:name)}%>
  <%= f.input :model_num, :label => t('Model#'), :readonly => true, :input_html => {:value => @equipment.try(:model_num)}%> 
  <%= f.input :maint_type_id, :label => t('Maintanence Type'), :collection => Commonx::MiscDefinition.where('for_which = ? AND active = ?', 'equip_maintanence_type', true), 
              :label_method => :name, :value_method => :id, :include_blank => true  %>
  <%= f.input :maint_instruction, :label => t('Maint. Instruction'), :input_html => {:rows => 4} %>
  <%= f.input :other_requirement, :label => t('Other Requirement'), :input_html => {:rows => 4} %>
  <%= f.input :execution_date, :label => t('Execution Date'), :as => :string %>
  <%= f.input :estimated_execution_hour, :label => t('Estimated Execution Hour'), :placeholder => '24' %>
  <%= f.input :assigned_to_id, :label => t('Assignee'), :collection => Authentify::UsersHelper::return_users('create', 'maint_recordx_maint_records'), 
              :label_method => :name, :value_method => :id, :include_blank => true  %>
  
  <%= link_to t('Cancel'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>  
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>  
<% end %> 

<% end %>
