<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<h1><%= t('Maintanence Requests')%></h1>
<div><%= will_paginate models %></div>
<table class="table table-striped">
  <tr>
    <th></th>
    <th><%=t('Equipment Name')%></th>
    <th><%=t('Model#')%></th>
    <th><%=t('Request Date')%></th>
    <th><%=t('Maintanence Type')%></th>
    <th><%=t('Maint. Instruction')%></th>
    <th><%=t('Execution Date')%></th>
    <th><%=t('Requested By')%></th>
    <th><%=t('Report Date')%></th>   
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
  	<% if has_action_right?('show', params[:controller], r) %>
  	  <td><%= link_to r.id.to_s, SUBURI + "/view_handler?index=1&url=#{maint_request_path(r)}"  %></td>
  	<% else %>
  	  <td><%= r.id %></td>
  	<% end %>
    <td><%= MaintRecordx.equipment_class.find_by_id(r.equipment_id).try(:name) %></td>
    <td><%= MaintRecordx.equipment_class.find_by_id(r.equipment_id).try(:model_num) %></td>
    <td><%= r.created_at.strftime("%Y/%m/%d") %></td>
    <td><%= prt(r, 'maint_type.name') %></td>
    <td><%= prt(r, :maint_instruction) %></td>
    <td><%= r.execution_date.strftime("%Y/%m/%d") unless r.execution_date.nil? %></td>
    <td><%= prt(r, 'requested_by.name') %></td>
    <td><%= MaintRecordx::MaintReport.where(:maint_request_id => r.id).last.created_at.strftime("%Y/%m/%d") if MaintRecordx::MaintReport.where(:maint_request_id => r.id).present? %></td>
    <td><%= link_to t('Edit'), SUBURI + "/view_handler?index=1&url=#{edit_maint_request_path(r)}", :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>

  </tr>
<% end %>
</table>
	<table class="table table-striped">
	  <tr>
	    <th>
  			<%= link_to t('Back'), SUBURI + "/view_handler?index=0",  :class => BUTTONS_CLS['action'] %>
        </th>
	  </tr>
	</table>
 
<% end %> 